/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Menu Styles */
.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.3s, color 0.3s;
}

.menu a:hover {
    background-color: #575757;
    color: #ffcc00;
}

/* Main Styles */
main {
    padding: 80px 20px 20px;
    text-align: center;
}

.car-detail-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.car-detail-container img {
    max-width: 500px;
    border-radius: 5px;
    margin-right: 20px;
}

.car-details {
    text-align: left;
}

.car-details h2 {
    color: #333;
}

.car-details ul {
    list-style-type: none;
    padding: 0;
}

.car-details li {
    margin: 10px 0;
}

/* Buy Button Styles */
.buy-button {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    margin-top: 20px;
}

.buy-button:hover {
    background-color: #575757;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
